.content{
    
    border: 1px solid gray;
    margin-left: 90px;
    margin: 0 0 0 10px;

}


.h {
    font-size: 30px;
    margin: 5px 150px;
    padding: 0 400px;
}

.inf{
    display: flex;
}


.block{

}

.listrout {
margin: 50px 0 0 0;
}

.delete {
    margin: 20px 0 0 330px;
}

.line {
border-top: 1px solid gray;
margin: 5px 0;
margin: 20px 40px;
width: 400px;
}

.logics{
    margin: 0 170px ;

}

.archive{
    margin: 20px 0 20px 1100px;
}

.function{
    margin: 50px 200px;
}

.dop{
    font-weight: 600;
}