.list {
    margin: 0 0 5px 70px;
    padding: 3px 0 0 10px;
    text-align: left;
    border: 1px solid gray;
    border-radius: 10px;
    height: 35px;
    width: 330px;
}

.centr {
    font-weight: 600;
    margin: 0px 0px 20px 160px;
}